@tailwind base;
@tailwind components;
@tailwind utilities;

/*============================
基本設定
============================*/
body {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  color: #222;
  background-color: #fdfeff;
}

// editor
#editor {
  .ce-paragraph {
    line-height: 1.75;
    padding: 0.3em 3px;
  }

  .ce-header {
    padding-top: 1.2em;
    padding-bottom: 10px;
    line-height: 1.4;
    font-weight: 600;
  }

  .cdx-list {
    padding-left: 30px;
  }

  .cdx-list__item {
    padding: 0;
  }

  .ce-code__textarea {
    line-height: 1.75;
    font-size: 13px;
    padding: 20px;
    color: #333;
    border: 1px solid #dfe5ec;
  }
}
